spring:

  application:
    name: vehiforge-BookingService

  datasource:
    url: jdbc:postgresql://${DB_HOST}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

security:
  user-service-url: ${USER_SERVICE_URL}

server:
  address: 0.0.0.0
  port: 8082