spring:

  application:
    name: vehiforge-UserService

  datasource:
    url: jdbc:postgresql://${DB_HOST}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

jwt:
  # Generate one: `openssl rand -base64 32`
  secret: ${TOKEN_SECRET}
  expiration-ms: 3600000   # 1 hour

server:
  address: 0.0.0.0
  port: 8081